{% extends 'base.html' %}

{% load i18n static %}

{% block title %}{{ block.super }} - Uptime{% endblock %}

{% block content %}
    <form action="{% url 'uptime:dashboard' %}" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}

        {% for form in formset %}
            <table class="monitor-form"{% if form.instance.pk %} id="monitor-{{ form.instance.pk }}"{% endif %}>
                <tr>
                    <th></th>
                    <td>{% blocktrans with number=forloop.counter %}Monitor {{ number }}{% endblocktrans %}</td>
                </tr>
                {% if form.instance.pk %}
                    <tr>
                        <th>{% trans "Status" %}:</th>
                        <td class="status status-{{ form.instance.status }}">
                            {{ form.instance.get_status_display }}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Checked at" %}:</th>
                        <td class="checked-at">
                            {{ form.instance.checked_at }}
                        </td>
                    </tr>
                {% endif %}
                {{ form.as_table }}
            </table>
        {% endfor %}
        <table class="monitor-buttons">
            <tr>
                <th></th>
                <td><button type="submit">{% trans "Save" %}</button></td>
            </tr>
        </table>
    </form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        helloDjango.urls['apiMonitorList'] = '{% url 'api-web:monitor-list' %}';
    </script>
    <script src="{% static 'uptime.js' %}" defer></script>
{% endblock %}
